.mainArea{
    width: 100%;
    margin: auto;
    height: 100vmax;

    background-color: #e5f0e178;
    padding: 20px;
    border-radius: 10px;
}
.headingArea{
    width: 80%;
    height: 90px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
    border: .5px solid #e7e7e7;
}
.RRRphoto{
    width: 70px;
    height: 70px;   
}
.headingText{
    font-size:50px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    color: green;
    
}
.RRRCard{
    width: 98%;
    margin: auto;
    margin-top: 10px !important;
    background-color: white;
    min-height: 200px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.RRRCard:hover{
    outline: 1px solid green;
}
.rrrImage{
    margin-left: 20px;
    width: 220px;
    height: 190px;
    
    object-position: cover;
}
.addressAndAll{
    flex: 2;
    width: 100%;
    height: auto;
    min-height: 200px;
    padding-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.RRRid{
    margin-left: 100px;
    max-width: 120px;
    background-color: rgb(163, 225, 163);
    font-weight: 600;
    color: white;
}
.badge{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    border: .5px solid #e7e7e7;

}
.OpeningAndClosing{
    display: flex;
    flex-direction: column;
}
.buttonArea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
    
}
.Address{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-wrap: wrap;
    color: grey;
}
.RRRbtn{
    padding: 10px;
    width: 150px;
    background-color: green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.RRRbtn:hover{
    background-color: white;
    outline: 2px solid green;
    color: green;
}