.header_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    color: red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 800;
}
.nButtons{
    
    width: 10%; 
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.singUp{
    background-color: red;
    color: white;
    padding: 8px;
    font-weight: 700; 
    border-radius: 10px;
}
.nLang{
    color: white;
}