.mainPageAll{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.navbaar{
    width: 97%;
    background-color: white;
    padding: 10px 20px;
    /* border: 1px solid grey; */
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 12px #e7e7e7;
}
.NodalOfficerName{
    display: flex;
    font-size: small;
    gap: 10px;
    font-weight: 600;
}
.NodalOfficerName img{
    width: 30px;
    height: 30px;
}
.ULBInfo{
    display: flex;
    font-size: small;
    font-weight: 600;
}
.heroArea{
    display: flex;
    position: relative;
}
#sidePanel{
    padding: 0px !important;
    width: 30%;
    text-align: center;
   
   
}   
.heroRight{
    margin: 0px 5px;
    width: 100%;
    height: 100vh;
    

}


