.backgroundArea{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid red;
}
.frontArea{
    width: 100%;
    border: 1px solid #e7e7e7;
    margin: auto;
}
.cardAreaSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
}
