.countingArea{
    color: white;
    background-color: white;
    width :200px;
    height:80px;
    margin: auto;
    font-size: large;
    display: flex;
    justify-content: space-between;
}
.countingArea>button{
    width: 50px;
    background-color: red;
    color: white;
    height: 40px;
    align-items: center;
}
.countFigure{
    color: black;
    font-size: large;
    background-color: white;
}