.mainDiv{
    background-color: transparent;
    background-color: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 500px;
    border: 2px solid red;
    color:white;
    gap: 10px;
    background-image: url("https://tinyurl.com/netflix1230837");
}
.title{
    width: 400px;
    font-size: 42px;
    background-color: transparent;
}
.intro{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;

}
