.worstPerformingToiletArea{
    width: 90%;
    height: auto;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    background-color: white;
}
.wordToiletCard{
    /* margin: 10px !important; */
    width: 50%;
    height: 300px;
    
    display: flex;
    border: 1px solid red;
}
.imageArea{
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imageContent{
   width: 30%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    flex-wrap: wrap;
    padding: 10px;
    align-items:flex-start;
    overflow: hidden; 

}
.imageAreaImg{
    object-fit:contain;
}
.paramMissing{
    width: 40;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    flex-wrap: wrap;
    padding: 10px;
    align-items:flex-start; 
}