.rating-list li {
    float:right !important;
    color: #ddd;
    padding: 10px 5px;
    font-size: larger;
    margin: 5px;
    border: none !important;

    
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block !important;
    list-style: none !important;
    align-items: start !important;
    position: relative;
  }