.formArea{
    margin: auto;
    width:90%;
    margin-top: 20px;
  
}
.formArea >select{
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid black;
    background-color: #f5f5f5;
    height: 50px;
    max-height: 70px;
}
.tileAllSection{
    width: 100%;
    height: 50%;
    border: .5px solid #f7f7fb !important;
   
    border-radius: 10px;
  overflow: hidden;
    box-shadow: 70px 70px 70px 100px #f0f2f7;;
}
.startrating{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    border: none;
    background-color: #f8fcff;
}
.startrating ul{
    display: flex;
  

}
.startrating ul li{
    width: 20px;
    border: none;
    float: right !important;
}
.startsCountArea{
    
    display: flex;
}
.startsCountArea ul:hover,
.startsCountArea ul:hover ~ ul{
    color: yellow;
}
.starEmoji{
    color:#cbcfd8;
    font-size: 20px;

}


.starvalues{
    color:#cbcfd8;
    font-size: .9rem;
}
.userDetailsForm{
    margin-top: 20px;
    
    width: 98%;
    height: 6.5rem;
    border-radius: 8px;
   
    background-color: #f9fafc;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userDetailsForm input{
    padding: 10px;
    
    width: 25%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #eff0f2;
    border: none;
    font-size: .9rem;
    border-bottom: .5px solid black;
}
.buttonArea{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
}
.buttonArea button{
    margin: 15px;
    padding: 8px;
    width: 5.9rem;
    height: 2.9rem;
    background-color: #144677;
    color:white;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size:medium;
    cursor: pointer;
}
.cancelBtn{
    background-color: white !important;
    color: #144677 !important;
    border:1px solid #144677 !important;
}