.formArea{
    display: flex;
    flex-direction: column;
    background-color:rgb(33, 24, 24);
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border: none;
    height: 300px;
    border-radius: 10px;
}
.formArea >h1{
    background-color:rgb(33, 24, 24);
    justify-content: center;
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.singUpForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:rgb(33, 24, 24);
}
.inputArea{
    border-radius: 10px;
    padding: 10px;
    margin-left:20px;
    width: 80%;
    background-color: white;

}
.inputArea+.inputLabel{
    padding-left: 20px;
    background-color:rgb(33, 24, 24);

}
.singUpBtn{
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;
    width: 90%;
    cursor: pointer;
}