.cardArea{

    width: 98%;
    margin: auto;
    height: 150px;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, #273e76, #1575d2);
}
#cardHeading{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: .5px .5px white;
}
#addressArea{
    max-width: 25%;
}