.cardArea{
    width: 100%;
    margin: auto;
    height: 60%;
    margin-top:5px;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    border: 2px solid grey;
    background-color: white;
    
}
.cardArea:hover{
    outline: 4px solid black;

}
.imageAndAddress{
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 80%;
    background-color: white;
    border-radius: 10px;
  
}
.imageBox{
    margin: auto;
    width: 100%;
    height: 40%;
    border: 1px solid grey;
   
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}
.imageOfBox{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.addressBox{
   
    width: 100%;
    height: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.idAndCatBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.addresstoiletHeading{
    padding: 5px;
    text-transform:capitalize;
}

.toiletCatg ,.toiletIDArea{
    background-color: #efe6e6;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    border: .2px solid grey;
}
.viewFullBtn{
    margin-bottom: 10px !important;
    width: 95%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #cfee8b;
    cursor: pointer;
    font-weight: 600;
    text-shadow: .1px .1px black;
}

.viewFullBtn:hover{
   outline: 3px solid #cfee8b;
    background-color: white;
    color: #afdd4b;
    text-shadow: .1px .1px black;

}
.whatParamMissing{
    background-color: white;
    flex: 3;
    height: 98%;
   /* border: 2px solid rgba(105, 192, 118, 0.91); */
   border-radius: 10px;
}
.firsthead{
    width: 100%;
    height: auto;
    text-align: center;
}
.firstHeadHeading{
    padding: 10px;
    color: #93c5ea;
    text-shadow:.8px .8px black;
}
.negativeParamArea{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: auot;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    gap: 10px;
}
.noteWarning{
    margin: 10px;
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: 400;
}
.negativeParam{
    display: flex;
    width:25%;
    min-width: 25%;
    max-width: 25%;
    height: 25%;    
    min-height: 25% !important;    
   border: 1px solid grey;
   border-radius: 10px;
   background-color: #b0d9f693;
    align-items: center;
    padding: 5px;
    cursor:pointer;
    justify-content:space-between;
    
}
.starCountArea{
    margin-top:20px !important;
    width: 70%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #273e76, #1575d2);
    color: white;
}
.oandMArea{
    padding: 5px;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.caretakerArea{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #586af2;
}
.negativeParam:hover .nagetiveFeedbacBadge{
   background-color: white;
   color: red;
   font-weight: 500;
}
.negativeParam:hover {
    outline: 2px solid red;
}
.negativeCountNparamArea{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.negativeMessage{
    overflow: hidden;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
   
}
.nagetiveFeedbacBadge{
    border-radius: 5px;
    font-size: 11px;
   text-align: center;
    padding:3px;
    width: 80%;
    margin: auto;
    text-wrap:wrap;
    color: black;
    background-color: #e7e7e7;

}
.popUpArea{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark background with some transparency */
    backdrop-filter: blur(5px); /* Applying the blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popUp{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 90%; /* Default width */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}