.mainArea{
    width: 100%;
    height: 100vh;
    background-color: #e7e7e7;
}
.updateHeading{
    padding: 30px 30px;
    color: darkgrey;
    position: relative;
}
.formSection{
    margin: auto;
    padding: 30px 10px;
    width: 95%;
    height: 100vh;
    border: 2px solid #72a0a0;
    background-color: white !important;
}
.newToiletForm{
    padding-left: 20px;
    
}
.addressArea{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
   
}
.addressArea select{  
    width: 250px;
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
    height: 60px;
    background-color: #f5f5f5;
}
.addressArea input{
  border: none;
  
}
.openingHours input{
    width: 40px !important;
    height: 20px !important;
}
.openingHours select{
    width: 100%;
}
.OpenCloseTime input{
    width: 30px !important;
    height: 20px !important;
}