.totalCtPtCal{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height: 3.4rem;
    border-radius: 20px;
    background-color: #d2e8a1 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.totalCtPtCal p{
    padding: 10px;
    color: rgb(108, 103, 103);
    font-weight: 600;
    font-size: small;
}
.dashboardBackground{
    width: 98%;
    overflow: hidden;
    margin-top: 30px !important;       
    margin: auto;
    padding:5px !important;
    height: auto;
    background-color: #d2e8a1;
    border-radius: 12px 12px 12px 12px;
}
.bestPracticeArea1{
    margin-top: 10px;
    width: 98%;
    margin: auto;
    max-width:1200px;
   
    height: fit-content;
    min-height: 300px;
    display: flex;
    /* padding: 5px; */
    border: 2px solid rgb(190, 187, 187);
    background-color: white;
    border-radius: 12px 12px 0px 0px ;
    overflow: hidden;

    
}
.bestCtCardArea{
    background-color: white;
    width: 98%;
    margin: auto;
    min-height: 400px;
    height: fit-content;
    display: flex;
    
}
.ctCardLeft{
    display: flex;
    padding: 10px;
    flex: 3;
    border-right: 2px solid rgb(190, 187, 187);
   
}
.image1{
    width: 40%;
    height: 98%;
   object-fit: cover;
}
.ctChart{
    flex: 2;
    min-height: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageCTDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    line-height: 30px;

}
.addressArea{
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.IdAndCatArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 20px;
}
.badges{
    background-color: #525760;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}
.oAndMArea{
    padding: 5px;
    text-align: center;
    font-size:0.93rem;
    font-weight: 600;
}
.careTaker{
    font-size: 0.9rem;
    color: #6888f4;
    font-weight: 600;   
}
.openAndCloseArea{
    width: 100%;
    padding-left:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.ratingToiletArea{
    width: 90%;
    margin: auto;
    background: linear-gradient(90deg, #273e76, #1575d2);
    color: white;
    height: auto;
    padding: 5px;    
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.ctChart{
    width: 100%;
    height: 100%;
}
.bestPerformingHeading{
    color: #5f6062;
    padding: 5px;
}
.ssParameterHeading{
    margin: 10px;
}
.ssParamHead{
    color: #616162;
}
.bestPractice{
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border: 2px solid rgb(190, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
    position: relative;
}

.bestPracticeCard{
    margin: 8px !important ;
    padding: 5px;
    margin: auto;
    min-width: 270px;
    max-width: 250px;
    min-height: 320px;
    max-height: 320px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;   
}
.bestPracticeCard:hover{
    transform: scale(1.01);
    outline:3px solid #9cc643;
    z-index: 5;
}
.parameter{
    max-height: 45px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
}
.logoImage{
    width: 100%;
    height: 60%;

    margin: auto;
}
.bpImg{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color:transparent ;
}
.logoDetails{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

}
.badge{
    width: 100px;
    padding: 2px;
    font-size: 12px;
    background-color: red;
    color: white;
    border-radius: 0 70% 50% 0px;
}
.stepsTodo{
    font-size: 12px;
    color: #1f549b;
    font-weight: bolder;
}
.scrollLeftBtn{
    margin: auto;
    min-width: 80px;
    min-height: 100px;
    position: sticky;
    left: 0px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: #d2e8a1b6;
    cursor: pointer;
    font-size: xx-large;
    z-index: 12;
}
.scrollRightBtn{
    position: sticky;
    right:0px;
    margin: auto;
    min-width: 80px;
    min-height: 100px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background-color: #d2e8a1b6;
    cursor: pointer;
    font-size: xx-large;
    z-index: 12;
}
.temp{
    width: 95%;
    margin: auto;
    border: 1px solid green;
 
    height: auot;
    /* max-height: 500px; */
}
/* .AreaOfImprovementSection{
    width: 25%;
    margin-top: 30px !important;       
    margin: auto;
    padding: 5px;
    height: auto;
    height: auto;
} */
 .worstToiletArea{
    margin-top:20px !important;
    width:97%; 
    margin:auto;
    height: auto;
    background-color: #d2e8a1b6;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .poorWorkingToiletHeading{
    padding-left:10px;
    
    color: #769889;
 }
